@page "/videos"
@using Hackathon_VideoSharing_Platform.Shared

<h3>Available Videos</h3>

@foreach(var video in videos)
{
    <div>Title: @video.Title</div>
    <div>Price: @video.Price</div>
    <button class="btn btn-primary" @onclick="buyVideo">Buy</button>
}

@code {
    private List<VideoMetaData> videos = new List<VideoMetaData>
    {
        new VideoMetaData() { Title = "First video", Price = 10 },
        new VideoMetaData() { Title = "Second video", Price = 20 }
    };

    public void buyVideo()
    { 

    }
}
